<div class="container">
    {{ component 'header/dj' 'header/organizer' }}
    {{ component 'sidenav/dj' 'sidenav/organizer' }}

    <div class="container__main">
        {{ component 'dj/main' 'organizer/main' }}
    </div>
</div>