{{~ scope 'dj.schedule' }}

<header class="main-header flex flex--a-center flex--j-space-between">
    <div>
        <h4>WORKFLOW</h4>
        <p>Stay ahead</p>
    </div>
    <div>
        <p>Hi, {{userInfo.stage_name}}</p>
    </div>
</header>