{{~scope 'organizer.event.manager' 'organizer.event.view'}}

<header class="main-header flex flex--a-center flex--j-space-between">
    <div>
        <h4>WORKFLOW</h4>
        <p>Stay ahead</p>
    </div>
    <div>
        <p>Hi, {{userInfo.fullname}}</p>
    </div>
</header>