{{~scope 'organizer.pay'}}

<div class="container__main__focus">
    <div class="container__main__focus__title">
        <h4>Process pay</h4>
        <div class="container__main__focus__title__hr"></div>
    </div>
    <div id="paypal-button-container" style="width: 40rem; margin: 12rem auto 0;"></div>
</div>