{{~scope 'dj.schedule'}}

<div class="container__main__focus">
    <h4>My Schedule</h4>

    <div class="no-content flex flex--a-center">
        <img src="/assets/illustrations/data.svg" style="width: 30rem;" alt="No video">
        <h4>No events</h4>
        <p>Your invites from organizers will appear here.</p>
    </div>
</div>