{{~ scope 'all' }}

<header class="main-header flex flex--a-center flex--j-space-between">
    <div>
        <h4>WORKFLOW</h4>
        <p>Stay ahead</p>
    </div>
    <div>
        <p>Hi, James Dawn</p>
    </div>
</header>