{{~scope 'organizer.event.manager' 'organizer.event.view' 'organizer.payments' 'organizer.pay'}}

<div class="sidenav">
    <div class="sidenav__logo">
        <img src="/assets/logo/png/logo-no-background.png" alt="">
    </div>
    <div class="sidenav__nav">
        <ul class="sidenav__nav__ul">
            <a href="/organizer/event-manager" {{click "Util.nav(event)"}} class="sidenav__nav__ul__item flex flex--a-center">
                <svg class="image--icon margin--right-1">
                    <use href="#calendar"></use>
                </svg>
                <span>Event manager</span>
            </a>
            <a href="/organizer/payments" {{click "Util.nav(event)"}} class="sidenav__nav__ul__item flex flex--a-center">
                <svg class="image--icon margin--right-1">
                    <use href="#user"></use>
                </svg>
                <span>Payments</span>
            </a>
            <a href="/organizer/sign-out" class="sidenav__nav__ul__item flex flex--a-center">
                <svg class="image--icon margin--right-1">
                    <use href="#sign-out"></use>
                </svg>
                <span>Sign out</span>
            </a>
        </ul>
    </div>
</div>