{{~scope 'organizer.event.manager'}}

<div class="sidenav">
    <div class="sidenav__logo">
        <img src="/assets/logo/png/logo-no-background.png" alt="">
    </div>
    <div class="sidenav__nav">
        <ul>
            <li class="flex flex--a-center">
                <svg class="image--icon margin--right-1">
                    <use href="#calendar"></use>
                </svg>
                <span>Event manager</span>
            </li>
            <li class="flex flex--a-center">
                <svg class="image--icon margin--right-1">
                    <use href="#user"></use>
                </svg>
                <span>My profile</span>
            </li>
            <li class="flex flex--a-center">
                <svg class="image--icon margin--right-1">
                    <use href="#sign-out"></use>
                </svg>
                <span>Sign out</span>
            </li>
        </ul>
    </div>
</div>